<div class="container center about">
	<div class="row">
		<div class="col-md-12">
			<h1 class="about-headline"> About VMaps <span>GeoData Visualizer</span></h1>

			<div class="w-text">

				GeoData Visualizer  provides a secure visualization of project data.
				All data is securely protected. Access can be obtained only by an authorized user.


				<div class="descr">This version of the GVD supports the following functions:</div>
				<ol>
					<li>Zoom function</li>
					<li>Display of geo data (points, lines, polygons)</li>
					<li>Switching between layers</li>
					<li>Geo Data is cached and give an ability to work offline </li>
				</ol>

				<div class="descr">Will be implemented soon: </div>
				<ol>
					<li>Search by attributes in all layers</li>
					<li>GVD is going to be presented like apk, that will increase UX </li>
				</ol>

				It is possible to work in offline mode. To do this, you need to open the portal when connecting to the Internet and continue to work without connecting to the Internet.

				Enjoy simple and convenient visualization of your data.
				<div class="sign">
					Best regards, <br>
					The VMAPS GVD development team
				</div>

			</div>
		</div>
	</div>
</div>
<div id="popup-items" 
	class="popup"
	data-ng-include src="'components/directives/popup-items-template.html'">
</div>