<!DOCTYPE html>
<html class="no-js" lang="en" data-ng-app="nameApp">

	<head>
		<meta charset="utf-8">
		<title>VMaps GeoData Visualizer</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="assets/img/favicon.ico">

		<!-- build:css assets/css/vendor.min.css -->
		<link rel="stylesheet" href="assets/libs/bootstrap/bootstrap-grid.min.css" />
		<link rel="stylesheet" href="assets/css/vendor.min.css" />
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">

		<!-- endbuild -->

		<!-- build:css assets/css/main.min.css -->
		<link rel="stylesheet" href="assets/css/main.min.css" />
		<!-- endbuild -->

	</head>
	<body>
	<div class="preloader-wrap" data-ng-class="{active: appConfig.preloader}">
		<div class="preloader css"></div>
	</div>

	<header>
		<!--<navigation></navigation>-->
		<navigation data-ng-if="appConfig.user"></navigation>
	</header>

	<main>
		<div class="view" data-ng-view></div>
		<div id="popup-error"
			 class="popup"
			 data-ng-class="{'active': appConfig.appError.status}"
			 data-ng-include src="'components/directives/popup-error.html'">
		</div>
	</main>


	<footer data-ng-if="appConfig.user">
		<div class="copy">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-4 col-xs-4">
						© VMaps
					</div>
					<div class="col-md-6 col-sm-8 col-xs-8">
						<div class="dev">
							Spatial Intelligence
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>


		<!-- build:js js/angular.min.js -->
		<script src="assets/libs/angular/angular.min.js"></script>
		<!-- If you need other layers -->
		<script src="assets/libs/leaflet/leaflet.js"></script>

		<!-- build:js js/angular-libs.min.js -->
		<script src="assets/libs/angular-route/angular-route.min.js"></script>
		<script src="assets/libs/angular-storage/ngStorage.min.js"></script>
		<script src="assets/libs/angular-websocket/ng-websocket.js"></script>
		<!-- endbuild -->

		<!-- build:js js/vendor.min.js -->
		<script src="assets/libs/leaflet/leaflet-directive.js"></script>
		<script src="assets/libs/leaflet/leaflet-search.src.js"></script>
		<!--<script src="assets/libs/leaflet/qgis2web_expressions.js"></script>-->
		<!--<script src="assets/libs/leaflet/L.Control.Locate.min.js"></script>-->
		<!--<script src="assets/libs/leaflet/leaflet-heat.js"></script>-->
		<!--<script src="assets/libs/leaflet/leaflet.rotatedMarker.js"></script>-->
		<!--<script src="assets/libs/leaflet/OSMBuildings-Leaflet.js"></script>-->
		<script src="assets/libs/leaflet/leaflet-hash.js"></script>
		<script src="assets/libs/leaflet/multi-style-layer.js"></script>
		<!--<script src="assets/libs/leaflet/leaflet-tilelayer-wmts.js"></script>-->
		<script src="assets/libs/leaflet/Autolinker.min.js"></script>
		<script src="assets/libs/leaflet/leaflet-measure.js"></script>
		<script src="assets/libs/leaflet/leaflet.awesome-markers.js"></script>


		<!-- build:js app.min.js -->
		<script src="app.js"></script>
		<!-- endbuild -->

		<!-- build:js js/contollers.min.js -->
		<script src="components/authorization-controller/authorization-contoller.js"></script>
		<script src="components/main-controller/main-ctrl.js"></script>
		<script src="components/map-controller/map-ctrl.js"></script>
		<!-- endbuild -->

		<!-- build:js js/directives.min.js -->
		<script src="components/directives/navigation-directive.js"></script>
		<script src="components/directives/popup-directive.js"></script>
		<!-- endbuild -->

		<!-- build:js js/filters.min.js -->
		<script src="components/services/filters.js"></script>
		<!-- endbuild -->

		<!-- build:js js/services.min.js -->
		<script src="components/services/authentication-service.js"></script>
		<script src="components/services/services.js"></script>
		<!-- endbuild -->
	
		
	</body>

</html>
