<div class="popup-content">
	<div class="save-popup-content">
		<div class="container-fluid clrp">
			<div class="col-md-12 clrp">
				<div class="card">
					<h2>Media information of GSM site {{siteName}}</h2>	
									
                    <div class="tab-bar">
						<button 
							class="tab-btn"
							ng-init="activetab = 'tab1'"
							ng-click="activetab = 'tab1'"
							ng-class="{active : activetab === 'tab1'}"
						>
							Images
						</button>
						<button
							class="tab-btn"
							ng-click="activetab = 'tab2'"
							ng-class="{active : activetab === 'tab2'}"
						>
							Videos
						</button>
						<button
							class="tab-btn"
							ng-click="activetab = 'tab3'"
							ng-class="{active : activetab === 'tab3'}"
						>
							Orthophoto
						</button>
						<button
							class="tab-btn"
							ng-click="activetab = 'tab4'"
							ng-class="{active : activetab === 'tab4'}"	
						>
							3D model
						</button>
					</div>                     
					
					<div class="tab-content" ng-show="activetab === 'tab1'">  
						<div class="w-folders" ng-hide="activeFolder">
							<div class="folder" ng-click="openFolder(item)" data-ng-repeat="item in siteCount track by $index">								
								<i class="fa fa-folder" ></i>
								<span class="folder-number">{{item}}</span>								
							</div>
						</div>

						<div class="w-images" data-ng-show="activeFolder">
							<span class="fa fa-arrow-left back" data-ng-click="openFolder(false)"></span>

							<div ng-show="activeFolder == 1">
								<div data-ng-repeat="img in imageList1" >
									<img data-ng-src="{{img}}" alt="gsm site">
								</div>
							</div>
							<div ng-show="activeFolder == 2">
								<div data-ng-repeat="item in imageList2" >
									<img data-ng-src="{{item}}" alt="gsm site">
								</div>
							</div>
							<div ng-show="activeFolder == 3">
								<div data-ng-repeat="item in imageList3" >
									<img data-ng-src="{{item}}" alt="gsm site">
								</div>
							</div>
							<div ng-show="activeFolder == 4">
								<div data-ng-repeat="item in imageList4" >
									<img data-ng-src="{{item}}" alt="gsm site">
								</div>
							</div>
						</div> 

					</div>

					<div class="tab-content" ng-show="activetab === 'tab2'">
						<div class="w-videos" data-ng-repeat="video in videoList">
							<video controls>
							<source data-ng-src="{{video}}" type="video/mp4">						
								Your browser does not support the video tag.
							</video>		
						</div>
												  
					</div>

					<div class="tab-content" ng-show="activetab === 'tab3'">
						<div class="w-orto">
							<img data-ng-src="{{orthophoto}}" alt="gsm site orthophoto">
						</div>
												  
					</div>

				</div>
			</div>			
		</div>
	</div>
	<button type="button"
		data-popup-close
		class="btn material popup-close">
		<i class="fa fa-times"></i>
	</button>
</div>	