<div class="container center contact">
	<div class="row">
		<div class="col-md-12">
			<h1 class="contact-headline"> VMaps <span>Contacts</span></h1>

			<div class="w-text">
				Kyiv, Ukraine <br>
				Solom'yanskaya str. 3, <br>
				&#x1f4de; 	+ 380 99 1652132 <br>

				<ul>
					<li>
						&#x2709;<a href="mailto:Tatiana.ivanko@vmaps.ml">Tatiana.ivanko@vmaps.ml</a>
					</li>
					<li>
						&#x2709;<a href="mailto:Mark.urupa@vmaps.ml">Mark.urupa@vmaps.ml</a>
					</li>
				</ul>


			</div>
		</div>
	</div>
</div>
<div id="popup-items" 
	class="popup"
	data-ng-include src="'components/directives/popup-items-template.html'">
</div>