<div class="container center contact">
	<div class="row">
		<div class="col-md-12">
			<h1 class="contact-headline"> Contacts <span>Us</span></h1>
			<div class="question">
				Have any questions? We'd like to hear from you. <br>
				Here is how to get touch with us
			</div>

			<div class="col-md-4">
				<div class="location-img"></div>
				<div class="contact-info">
					Kyiv, Ukraine <br>
					Solom'yanskaya str. 3, <br>
				</div>
			</div>
			<div class="col-md-4">
				<div class="mail-img"></div>
				<div class="contact-info">
					<ul>
						<li>
							<a href="mailto:Tatiana.ivanko@vmaps.ml">Tatiana.ivanko@vmaps.ml</a>
						</li>
						<li>
							<a href="mailto:Mark.urupa@vmaps.ml">Mark.urupa@vmaps.ml</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="phone-img"></div>
				<div class="contact-info">
					+ 380 99 1652132
				</div>
			</div>

		</div>
	</div>
</div>
<div id="popup-items" 
	class="popup"
	data-ng-include src="'components/directives/popup-items-template.html'">
</div>