<div class="container-fluid">
	<div class="w-login center">
		<div class="login-content card">
			<div class="w-name">
				<h2>Networks Management Database </h2>
				<p>Roll-out / Maintenance / Audits </p>
				<p>Beta - v 2.7.</p>
			</div>
			<div class="w-logo">				
				<img class="vmap-logo" src="../../assets/img/drone.png"/>
			</div>
			<form data-ng-submit="login(user)">
				<div class="form-group">
					<input type="text" name="name" id="name" data-ng-model="user.username">
					<label for="name" required>Login</label>
				</div>
				<div class="form-group">
					<input type="password" name="password" id="password" data-ng-model="user.password" required>
					<label for="password">Password</label>
				</div>				
				<button type="submit" class="btn full">Log in</button>
				<span class="error mt1">{{error}}</span>
			</form>		
			<div class="w-company">
				<img class="brand-logo" src="../../assets/img/yourLogo.png"/>
				<img class="brand-logo" src="../../assets/img/netis.png"/>
				<img class="brand-logo" src="../../assets/img/vmap.jpg"/>
			</div>
		</div>
	</div>
</div>
<div class="footer-decor"></div>
