<div class="container-fluid center w-map">
	<div class="row">
		<leaflet 
			id="map"
			class="lf-map"
			center="vmap"
			geojson="geojson"
			controls="controls"
			layers="layers"
			defaults="defaults"
			watch-markers="false"
			legend="legend"
			preferCanvas="true">			
		</leaflet>
		<div class="location-control fa fa-map-marker" data-ng-click="searchIP()"></div>

		<div class="map-visibility-control fa" data-ng-class="isActive ? 'fa-map-o': 'fa-map'" data-ng-click="toggleLayer('osm')"></div>

		<div class="w-control-city">
			<i class="fa fa-location-arrow" aria-hidden="true" data-ng-click="cityShow = !cityShow"></i>
			<div class="city-control" data-ng-show="cityShow">
				<div class="change-city-label">Select different location</div>
				<select ng-options="option for option in cityOptions" 
					ng-model="selectedCity"
					data-ng-change="selectedCityChanged()">
				</select>
			</div>
		</div>
		<div id="popup-media" 
			class="popup"
			data-ng-include src="'components/directives/popup-media.html'">
		</div>
		<div id="popup-view-img" 
			class="popup"
			data-ng-include src="'components/directives/popup-view-img.html'">
		</div>
	</div>
	
</div>
